@import 'shared/variable.css';
@import 'shared/header.css';
@import 'shared/button.css';
@import 'shared/form.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  font-size: 20px;
  color: var(--color-text-light);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background: linear-gradient(
    to right,
    var(--color-background-dark),
    var(--color-background-light)
  );
}
.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.inner-container {
  margin: 0 2rem;
}
.page-header {
  font-size: 2rem;
  font-weight: 500;
}
